@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Fira Sans", sans-serif !important;
  background-color: #f0f2f5 !important;
}
.ant-btn-danger {
  background: #800000;
  border-color: #800000;
}
.ant-page-header {
  padding: 15px 0 15px 0 !important;
}
.ant-btn {
  border-radius: 0.42rem !important;
}
.ant-btn-dashed {
  color: #000;
  background: transparent;
  border-color: #000;
  border-style: dashed;
  height: 60px;
  border-width: 2px;
  font-size: 16px;
  font-weight: 600;
}

.ant-btn-dashed:hover {
  background: transparent !important;
}

.ant-modal-content {
  border-radius: 10px !important;
  overflow: hidden;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  font-size: 16px;
  font-weight: 600;
  background: #001529;
  color: #fff;
}
.ant-spin-nested-loading > div > .ant-spin{
  max-height: inherit !important;
  /* height: 100vh !important; */
}